body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, blue, rgb(139, 60, 204));
  text-align: center;
  color: azure;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em;
  border-radius: 10px;
}
button {
  background-color: rgb(139, 60, 204);
  color: white;
  padding: 1em;
  border: none;
  border-radius: 6px;
  box-shadow: 1px 1px 5px black;
  cursor: pointer;
  transition: 1.5s;
}
button:hover {
  background-color: steelblue;
}

.second-step {
  display: none;
}
.final-step {
  display: none;
}
.buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

#resultado {
  font-size: 25px;
}
